
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin-left: 0px;
    margin-right: 0px;
}


p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}




/* .......Header and banner design.... */

.banner{
    min-width: 1140px;
    margin-top: 70px;
    background-image: url(../assets/Hero-bg.png);
}

.banner-content{
    width: 700px;
    margin: 26px auto 44px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-des{
    text-align: center;
}

.magic-btn{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.magic-btn{
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.banner h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}

/* ..........Main part design............. */

.main-sect1{
    width: 1140px;
    margin: 74px auto 0px auto;
}

.sect1-div{
    padding: 80px 97px;
}

.sect1-title{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sect1-div1, .sect1-div2, .sect1-div3{
    padding: 48px;
    display: flex;
    justify-content: space-between;
}

.sect1-btn{
    padding: 12px 20px;
    cursor: pointer;
}

.main-sect2{
    width: 1140px;
    margin: 74px auto 0px auto;
}

.sec2-title{
    text-align: center;
}

.sec2-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect2-vid{
    margin-top: 50px;
}

.sec2-div .video{
    border-radius: 16px;
}

.main-sect3{
    width: 1140px;
    margin: 74px auto 0px auto;
}

.sect3-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sect3-title{
    width: 852px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

.sect3-items{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.item1, .item2, .item3{
    padding: 40px;
}

.sect3-items a{
    color: rgb(13, 19, 33);
}

.main-sect4{
    width: 1140px;
    margin: 40px auto;
    background-image: linear-gradient(
        180deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%
      ), url(../assets/handshake.jpg);
    background-size: 100% 100%;
    border-radius: 16px;
}

.sect4-div{
    text-align: center;
    padding: 20px 25px;
}

.sect4-form{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sect4-form .query{
    width: 548px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.sect4-form .submit-btn{
    width: 120px;
    padding: 17px 20px;
    border: none;
    border-radius: 8px;
}


.sect1-title h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
}
.sect2-title h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
}
.sect3-title h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
}

.sect1-h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
}

.sect4-title h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.sect4-title p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;

}

.footer-sect{
    width: 1140px;
    margin: 40px auto;
}

.footer-div{
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

.link-div a{
    margin-left: 8px;
}




